$blue: #1A5D99;
$blue-dark: #0F4075;
$gold: #CDB77C;
$gold-2: #E1C989;
$gray: #B6B6B6;
$red: #FF2300;
$white: #FFFFFF;
$black: #000000;


$mobile1: 360px;
$mobile2: 400px;
$tablet1: 768px;
$tablet2: 992px;
$desktop1: 1200px;
$desktop2: 1440px;
$desktop3: 1920px;