@import "partials/params";
@import "partials/mixins";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &.header-main {
    & .header__bg {
      background-color: $blue;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: url("../img/bg-photo-1.png") no-repeat;
        background-position: center top;
        background-size: cover;
      }
    }

    & .header__link {
      &:hover {
        color: $white;
        border-bottom: 1px solid $white;
      }
    }

    & .header__burger {
      & svg {
        &#hb-1 {
          fill: $gold-2;
        }

        &#hb-2 {
          stroke: $gold-2;
        }
      }
    }
  }

  &.header-search {
    &.active {
      & .header__bg {
        height: 124px;
        transition: height 0.5s;
      }
    }
  }

  & .header__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    background-color: #F8F8F8;
    height: 60px;
    transition: height 0.5s;
    @media screen and (min-width: $tablet1) {
      height: 80px;
    }
    @media screen and (min-width: $tablet2) {
      height: 100px;
    }
  }

  & .container {
    display: flex;
    align-items: center;
    max-width: 1200px;
  }

  &__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    list-style: none;
    margin-left: 24px;
    @media screen and (min-width: $tablet1) {
      height: 80px;
      margin-left: 0;
    }
    @media screen and (min-width: $tablet2) {
      height: 100px;
    }
  }

  &__item {
    @media screen and (min-width: $tablet1) {
      position: relative;
      display: flex;
      justify-content: center;
      min-width: 155px;
    }
    @media screen and (min-width: $tablet2) {
      min-width: 167px;
    }
    &:nth-child(3) {
      min-width: auto;
    }

    & span {
      cursor: default!important;
    }

    &-dd {
      display: none;
      @media screen and (min-width: $tablet1) {
        position: fixed;
        display: block;
        background-color: $gold-2;
        box-shadow: 0 12px 44px rgba(0,0,0, 0.16);
        top: 50px;
        z-index: 100;
        transition: opacity 0.5s ease-in;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
      }
      @media screen and (min-width: $tablet2) {
        top: 60px;
      }

      &:hover {
        transition: opacity 0.5s ease-out;
        pointer-events: auto;
        visibility: visible;
        opacity: 1;
      }
    }

    &-link {
      display: none;
      @media screen and (min-width: $tablet1) {
        display: block;
        font-family: 'Proxima Nova';
        font-size: 12px;
        font-weight: 800;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        padding: 15px;
        transition: background-color 0.3s;
      }
      @media screen and (min-width: $tablet2) {
        font-size: 13px;
      }

      &.active {
        background-color: $gold;
      }

      &:hover{
        background-color: $gold;
        transition: background-color 0.3s;
      }
    }
  }

  &__link {
    position: relative;
    display: none;
    @media screen and (min-width: $tablet1) {
      display: block;
      font-family: 'Proxima Nova';
      font-size: 12px;
      font-weight: 800;
      color: $gold-2;
      text-align: center;
      text-transform: uppercase;
      padding: 2px 0;
      border: 1px solid transparent;
      transition: color 0.3s, border 0.3s;
    }
    @media screen and (min-width: $tablet2) {
      font-size: 13px;
    }

    &-logo {
      border: none;

      &:hover {
        border: none;
      }
    }

    &.active {
      color: $white;
    }

    &:hover{
      color: $gold;
      border-bottom: 1px solid $gold;
      transition: color 0.3s, border 0.3s;

      & + .header__item-dd {
        transition: opacity 0.5s ease-out;
        pointer-events: auto;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__logo {
    width: 45px;
    @media screen and (min-width: $tablet1) {
      width: 60px;
    }
    @media screen and (min-width: $tablet2) {
      width: 69px;
    }
  }
  &__search {
    /*display: none;*/
    position: absolute;
    min-width: 22px;
    height: 22px;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    cursor: pointer;
    @media screen and (min-width: $tablet1) {
      display: none;
    }

    & svg {
      width: 22px;
      height: 22px;
      fill: $gold-2;
    }

    &-box {
      /*display: none;*/
      position: relative;
      opacity: 0;
      transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
      max-height: 0;
      @media screen and (min-width: $tablet1) {
        display: none;
      }

      &.active {
        max-height: 64px;
        opacity: 1;
        overflow: visible;
        transition: max-height 0.5s ease-in, opacity 0.5s ease-in;

        & .header__search-form .row {
          max-height: 64px;
          opacity: 1;
          overflow: visible;
          transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
        }
      }
    }

    &-form {
      width: 100%;

      & .row {
        margin: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
        max-height: 0;
      }

      & .input__box {
        margin: 0;
        padding: 5px 0 15px;
      }

      & button {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 7px;
        right: 2px;
        border: none;
        outline: none;
        background-color: transparent;
      }
    }
  }

  &__burger {
    position: relative;
    min-width: 24px;
    height: 24px;
    cursor: pointer;
    @media screen and (min-width: $tablet1) {
      display: none;
    }

    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
      transition: opacity 0.3s;

      &#hb-1 {
        opacity: 1;
        height: 18px;
        fill: $blue-dark;
      }

      &#hb-2 {
        opacity: 0;
        width: 20px;
        height: 20px;
        stroke: $blue-dark;
      }
    }

    &.active {
      & svg {
        transition: opacity 0.3s;

        &#hb-1 {
          opacity: 0;
        }

        &#hb-2 {
          opacity: 1;
        }
      }
    }
  }

  &-mobile {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 49;
    padding-top: 60px;
    transform: translateX(0);
    transition: 0.7s;
    overflow: hidden;
    @media screen and (min-width: $tablet1) {
      display: none;
    }

    &.active{
      transform: translateX(100%);
      transition: 0.7s;
    }

    &-blue {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $blue;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: url("../img/bg-photo-1.png") no-repeat;
        background-position: center top;
        background-size: cover;
      }

      & .header-mobile__link {
        color: $gold-2;

        &.active {
          color: $white;
        }

        &:hover {
          color: $white;
        }
      }
    }

    &-gray {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F8F8F8;
      }

      & .header-mobile__link {
        color: $blue-dark;

        &.active {
          color: $blue;
        }

        &:hover {
          color: $blue;
        }
      }
    }

    & .container {
      height: 100%;
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
      height: 100%;
      padding: 80px 0 120px;
    }

    &__item {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      font-family: 'Proxima Nova';
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      padding: 2px 0;
      transition: color 0.3s, border 0.3s;
    }
  }
}
