@import "partials/params";
@import "partials/mixins";

.heroes {
  position: relative;
  padding: 40px 0;

  & .title {
    margin-bottom: 40px;
  }

  & .btn-gold {
    &:hover {
      background-color: $gold;
      border: 2px solid $gold;
    }
  }
}
