@import "partials/params";
@import "partials/mixins";

.person {
  position: relative;
  padding: 0 0 70px;
  margin-top: -150px;
  @media screen and (min-width: $tablet1) {
    padding: 0 0 120px;
    margin-top: -250px;
  }
  @media screen and (min-width: $tablet2) {
    padding: 0 0 180px;
    margin-top: -300px;
  }
  @media screen and (min-width: $desktop1) {
    padding: 0 0 220px;
    margin-top: -300px;
  }
  @media screen and (min-width: $desktop3) {
    padding: 0 0 300px;
    margin-top: -350px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: $blue;
    z-index: -1;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
    }

    &-gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background: linear-gradient(to bottom, transparent 0, transparent 40vw, $blue 60vw, $blue 80vw);
    }

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-right: 50vw solid transparent;
      border-left: 50vw solid $white;
      border-bottom: 30px solid transparent;
      border-top: 30px solid $white;
      z-index: 2;
      @media screen and (min-width: $tablet1) {
        border-bottom: 60px solid transparent;
        border-top: 60px solid $white;
      }
      @media screen and (min-width: $tablet2) {
        border-bottom: 90px solid transparent;
        border-top: 90px solid $white;
      }
      @media screen and (min-width: $desktop1) {
        border-bottom: 110px solid transparent;
        border-top: 110px solid $white;
      }
      @media screen and (min-width: $desktop3) {
        border-bottom: 150px solid transparent;
        border-top: 150px solid $white;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border-left: 50vw solid transparent;
      border-right: 50vw solid $white;
      border-top: 30px solid transparent;
      border-bottom: 30px solid $white;
      z-index: 2;
      @media screen and (min-width: $tablet1) {
        border-top: 60px solid transparent;
        border-bottom: 60px solid $white;
      }
      @media screen and (min-width: $tablet2) {
        border-top: 90px solid transparent;
        border-bottom: 90px solid $white;
      }
      @media screen and (min-width: $desktop1) {
        border-top: 110px solid transparent;
        border-bottom: 110px solid $white;
      }
      @media screen and (min-width: $desktop3) {
        border-top: 150px solid transparent;
        border-bottom: 150px solid $white;
      }
    }
  }
}
